go 1.20

use (
	./10001stPrime
	./EvenFibonacci
	./LargestPalindromeProduct
	./LargestPrimeFact
	./LargestProductInASeries
	./MultipleOf3Or5
	./SmallestMultiple
	./SpecialPythagTrip
	./SumOfPrimes
	./SumSquareDiff
)
